.App {
  text-align: center;
}

body {
  height: 100%;
}

.navLink {
  display: inline;
}



h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);

}



ul li {
  font-size: 20px;
} 

.Link {
  text-decoration: none;
  color: white;
}

.dropLink {
  text-decoration: none;
  color: black;
}