.App {
  text-align: center;
}

body {
  height: 100%;
}

.navLink {
  display: inline;
}



h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);

}


.notExpanded {
  display: none;
  
}
.expanded {
  display: block;
  
}

ul li {
  font-size: 20px;
} 


.Link {
  text-decoration: none;
  color: white;
}

.dropLink {
  text-decoration: none;
  color: black;
}

.burger-link {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 20px;
  font-size: large;
}

.profile-icon {
  color: black;
}