.App {
  text-align: center;
}

body {
  height: 100%;
}

.navLink {
  display: inline;
}



h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);

}


.notExpanded {
  display: none;
  
}
.expanded {
  display: block;
  
}

ul li {
  font-size: 20px;
} 

.styled-input {
  width: 80vw;
  max-width: 500px;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  box-shadow: 0 0 10px rgb(48, 48, 48), 0 0 10px rgba(48, 48, 48),
  0 0 10px rgba(48, 48, 48);
  margin: 10px;
}

.description {
  height: 200px;
}

.Link {
  text-decoration: none;
  color: white;
}

.dropLink {
  text-decoration: none;
  color: black;
}

.burger-link {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 20px;
  font-size: large;
}

.profile-icon {
  color: black;
}

.reviews-shadow {
  text-shadow: 0 0 5px black, 0 0 5px black,
  0 0 5px black, 0 0 5px black;
  white-space: nowrap;
}

.no-shadow {
  text-shadow: none;
}